# Hypothesis

Given a users past shopping activity, we can accurately predict future purchases.

Initially, the model is based on:

* part of day (morning, eventing, afternoon, night)
* day (mon, tues...)
* amount spent
* market (Eua Claire, or Pittsville)
* Type of store (drug or supermarket)
* UPC (target, what product the user purchases)

Moving foward we can introduce demographic information into our model to improve accuracy.

In [1]:
from xgboost import XGBClassifier
from xgboost import DMatrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import scale
from sklearn import datasets
import pandas as pd
%load_ext sql
%sql postgresql://sharknado:sharknado@sharknado-dse.ceg3hdkdq8l0.us-east-1.rds.amazonaws.com/sharknado

/usr/local/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/usr/local/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

u'Connected: sharknado@sharknado'

In [2]:
result = %sql select * from panels_stores_8_11

37755 rows affected.

In [44]:
df=result.DataFrame()

## Data Prep

In [45]:
panels = df.set_index("panid")
panels.head()

,week,minute,units,outlet,dollars,iri_key,colupc,ou,est_acv,marketname,open,clsd
panid,,,,,,,,,,,,
3104372,1584,3730,1,GK,2.29,257871,11407619061,GR,39.916983,EAU CLAIRE,1347,9998
3179796,1590,2481,1,GK,1.33,257871,11407619061,GR,39.916983,EAU CLAIRE,1347,9998
3834739,1584,2037,1,GK,2.29,257871,11407619061,GR,39.916983,EAU CLAIRE,1347,9998
3147439,1588,8001,1,GK,2.85,257871,11480910703,GR,39.916983,EAU CLAIRE,1347,9998
3147439,1601,6696,1,GK,3.79,257871,11480910703,GR,39.916983,EAU CLAIRE,1347,9998

In [46]:
panels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37755 entries, 3104372 to 3105361
Data columns (total 12 columns):
week          37755 non-null int64
minute        37755 non-null int64
units         37755 non-null int64
outlet        37755 non-null object
dollars       37755 non-null float64
iri_key       37755 non-null int64
colupc        37755 non-null int64
ou            37755 non-null object
est_acv       37755 non-null float64
marketname    37755 non-null object
open          37755 non-null int64
clsd          37755 non-null int64
dtypes: float64(2), int64(7), object(3)
memory usage: 3.7+ MB

In [47]:
print panels["outlet"].value_counts()
print panels["ou"].value_counts()

GK    35995
DK     1760
Name: outlet, dtype: int64
GR    35995
DR     1760
Name: ou, dtype: int64

The `outlet` and `ou` features are duplicates, lets remove one of them:

In [48]:
panels = panels.drop("ou", 1)

### Market Skew

It seems like the panel sampling is skewed heavly in favor of Eau Claire. This may not be a very usefull feature.

In [49]:
panels["marketname"].value_counts()

EAU CLAIRE                  37017
PITTSFIELD                    738
Name: marketname, dtype: int64

In [50]:
panels["units"].value_counts()/panels.shape[0]

1     0.858270
2     0.112065
3     0.020527
4     0.005085
6     0.001881
5     0.001165
10    0.000318
8     0.000212
7     0.000185
9     0.000132
12    0.000079
22    0.000026
20    0.000026
14    0.000026
Name: units, dtype: float64

As you can see from the above distribution, 85% of people only purchased 1 item during a given trip.

### Feature Engineering

* create `day` feature from `week` featuers, e.g: mon, tues, wed...
* create `part_of_day`  feature from `minute` column, e.g.: morning, afternoon, evening, night
* 1 hot encode categorical features

In [51]:
feature_cols = ["week", "minute", "units", "dollars", "est_acv", "open", "clsd", "outlet", "marketname"]
target_col = "colupc"


target = panels[target_col]
features = panels[feature_cols]

features.head()

,week,minute,units,dollars,est_acv,open,clsd,outlet,marketname
panid,,,,,,,,,
3104372,1584,3730,1,2.29,39.916983,1347,9998,GK,EAU CLAIRE
3179796,1590,2481,1,1.33,39.916983,1347,9998,GK,EAU CLAIRE
3834739,1584,2037,1,2.29,39.916983,1347,9998,GK,EAU CLAIRE
3147439,1588,8001,1,2.85,39.916983,1347,9998,GK,EAU CLAIRE
3147439,1601,6696,1,3.79,39.916983,1347,9998,GK,EAU CLAIRE

In [52]:
#1 hot encode
data = pd.get_dummies(panels)
data.head()

,week,minute,units,dollars,iri_key,colupc,est_acv,open,clsd,outlet_DK,outlet_GK,marketname_EAU CLAIRE,marketname_PITTSFIELD
panid,,,,,,,,,,,,,
3104372,1584,3730,1,2.29,257871,11407619061,39.916983,1347,9998,0,1,1,0
3179796,1590,2481,1,1.33,257871,11407619061,39.916983,1347,9998,0,1,1,0
3834739,1584,2037,1,2.29,257871,11407619061,39.916983,1347,9998,0,1,1,0
3147439,1588,8001,1,2.85,257871,11480910703,39.916983,1347,9998,0,1,1,0
3147439,1601,6696,1,3.79,257871,11480910703,39.916983,1347,9998,0,1,1,0

## Training

* scale data 
* test split

In [56]:
scaled_data = scale(data) # are you supposed to scale the target too?

In [57]:
X_train, X_test, Y_train, Y_test = train_test_split(scaled_data, target, test_size=0.25, random_state=4)
print (X_train.shape)

(28316, 13)

### Decision Tree

In [58]:
dtree = DecisionTreeClassifier()
dtree.fit(X_train, Y_train)
dtree.score(X_test, Y_test)

0.39336794151922871

### Random Forest

In [59]:
tree = RandomForestClassifier()
tree.fit(X_train, Y_train)
tree.score(X_test, Y_test)

0.36751774552389022

### Gradient Boosting

In [ ]:
btree = XGBClassifier()
btree.fit(X_train, Y_train)
btree.score(X_test, Y_test)